.firstStep {
    padding: 20px;
}
.input {
    margin-top: 10px;
    margin-bottom: 20px;
}
.previewWrapper {
    display: flex;
    justify-content: center;
}
.preview {
    width: 100px;
    height: 100px;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.stepContainer {
    margin: 70px 0;
    height: 270px;
}
.cardWrapper {
    width: 600px;
}
